{
	SDKDebug = {
		SDKDebug = DHSDKDebugManager;
	};
	Agreement = {
		Agreement = DHAgreementManager;
	};
	WebView = {
		"DHWebViewModuleManager" = "DHWebViewModuleManager";
	};
	Chat = {
		DHRNChatManager = DHRNChatManager;
	};
	Crash = {
		bugly = BuglyManager;
	};
	Customer = {
		DHRNAicsManager = DHRNAicsManager;
	};
	Social = {
		DHSocialSDKManager = DHSocialSDKManager;
	};
	Login = {
		overseas = "DHOverSeasLoginManager";
		loginInterface = "DHIHLoginInterfaceManager";
		appleId = AppleIdManager;
		facebook = FacebookManager;
	};
	Pay = {
		DroidHangPayManager = DroidHangPayManager;
	};
	Event = {
		facebook = FacebookManager;
		appsflyer = AppsflyerManger;
		firebase = FirebaseManager;
	};
	Push = {
		DHNotification = DHNotification;
	};
	Device = {
		DeviceUtility = DeviceUtility;
	};
     Advertising = {
        admob = AdmobManager;
    };
}